.nav {
  grid-area: n;
  background-color: #ffffff;
  padding:10px;
  margin-right: 20px;
}

.item {
  padding: 10px;
}

.item a {
  color: rgb(173, 173, 173);
  font-size: 16px;
  text-decoration: none;
}

.item a.active {
  color: #E34D3C;
  font-weight: bold;
}