.nav {
  grid-area: n;
  background-color: #756060;
}

.item {
  padding: 10px;
}

.item a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.item a.active {
  color: #007bff;
}

.friendsBarContent {
  border-style: solid;
  color: white;

}

.friendsBar {
  display: inline-block;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  color: white;
  text-align: center;
}

.friendsBar img {
  width: 40px;
  height: 40px;
}

.friendsBarHeader {
  text-align: center;
  border-style: solid;
  color: white;
  margin-top: 100px;
  border-bottom: none;
}

.friendsBarHeader h3 {
  margin: 0;
}