.nav {
    grid-area: n;
    background-color:#424242;
    padding: 20px;
    margin-top: 25px;;
  }
.item {
  padding:10px;
}
.item a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.item a.active {
  color: #007bff;
}
