.image img {
    border-radius: 150px;
}

a:hover {
    cursor:pointer;
   }
.contact a {
    color: white;
    text-decoration: none;
}

.column {
    float: right;
    width:50%;
}

.status {
    padding: 10px;;
}