* {
  box-sizing: border-box;
}

body {
  background-color: #505050;
}



.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 80%;
  grid-template-areas:
    "n c"
    "f f";
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 2fr 10fr;

}

.app-wrapper-content {
    color: white;
    grid-area: c;
    background-color: #623333;
}
