.dialogs {
    width:100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
    color:rgb(173, 173, 173);
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem a {
    text-decoration: none;
    color:rgb(173, 173, 173);
}

.dialogsItem .active {
    color: #E34D3C;
    font-weight: bold;
}

.dialog {

}

.messages {
    padding-left: 10px;
    margin-bottom: 10px;
}

.message {
    padding: 0
}

.btn {
    
}
