.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color:white;
}

.dialogsItem {
    padding: 10px;
    
}

.dialogsItem a {
    text-decoration: none;
    color: white;   
}

.dialogsItem .active {
    color: #007bff;   
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {
    padding: 0
}

.btn {
    padding-left:0;
    padding-bottom: 5px;
}

.messageText {
    padding-left: 10px;
    margin-bottom: 10px;
}
