.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color:white;
}

.dialogsItem {
    padding: 10px;
    
}

.dialogsItem a {
    text-decoration: none;
    color: white;   
}

.dialogsItem .active {
    color: #007bff;   
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
}
